pipeline/CFACIL.json
{
	"name": "CFACIL",
	"properties": {
		"activities": [
			{
				"name": "Login",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Login",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SetBearer",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Bearer",
					"value": {
						"value": "@concat('Bearer ',activity('Login').output.pipelineReturnValue.access_token)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PerformQuery",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SetBearer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PerformQuery",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Query": {
							"value": "SELECT\n  \"CFACIL\".\"accountingEntity\",\n  \"CFACIL\".\"variationNumber\",\n  \"CFACIL\".\"timestamp\",\n  \"CFACIL\".\"deleted\",\n  \"CFACIL\".\"archived\",\n  \"CFACIL\".\"CONO\",\n  \"CFACIL\".\"FACI\",\n  \"CFACIL\".\"FACN\",\n  \"CFACIL\".\"DIVI\",\n  \"CFACIL\".\"WHLO\",\n  \"CFACIL\".\"ACGR\",\n  \"CFACIL\".\"PYAD\",\n  \"CFACIL\".\"CUNO\",\n  \"CFACIL\".\"SUNO\",\n  \"CFACIL\".\"SHPL\",\n  \"CFACIL\".\"GFAC\",\n  \"CFACIL\".\"APSA\",\n  \"CFACIL\".\"CCMT\",\n  \"CFACIL\".\"TSDA\",\n  \"CFACIL\".\"TSTE\",\n  \"CFACIL\".\"APSS\",\n  \"CFACIL\".\"SCHH\",\n  \"CFACIL\".\"TXID\",\n  \"CFACIL\".\"RGDT\",\n  \"CFACIL\".\"RGTM\",\n  \"CFACIL\".\"LMDT\",\n  \"CFACIL\".\"CHNO\",\n  \"CFACIL\".\"CHID\",\n  \"CFACIL\".\"FANM\",\n  \"CFACIL\".\"GEOX\",\n  \"CFACIL\".\"GEOY\",\n  \"CFACIL\".\"GEOZ\",\n  CAST(DATEDIFF(millisecond,'1970-01-01 00:00:00',LMTS) AS BIGINT) AS \"LMTS\",\n  \"CFACIL\".\"VRNU\",\n  \"CFACIL\".\"PMFL\",\n  \"CFACIL\".\"RAPD\"\nFROM\n  \"CFACIL\"",
							"type": "Expression"
						},
						"BaseURL": "https://mingle-ionapi.inforcloudsuite.com/EMCO_TST/DATAFABRIC/compass/v2/",
						"BearerToken": {
							"value": "@variables('Bearer')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "UntilRecordCountReached",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetCurrentRow",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetLimit",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "PerformQuery",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('CurrentRow')), activity('PerformQuery').output.pipelineReturnValue.RowCount)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy CFACIL Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"maxConcurrentConnections": 1,
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "Authorization: @{variables('Bearer')}\nAccept: text/csv",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Compass_CFACIL_DataSet",
									"type": "DatasetReference",
									"parameters": {
										"QueryId": {
											"value": "@activity('PerformQuery').output.pipelineReturnValue.QueryId",
											"type": "Expression"
										},
										"Limit": {
											"value": "@int(variables('Limit'))",
											"type": "Expression"
										},
										"Offset": {
											"value": "@int(variables('CurrentRow'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CFACIL_Dataset",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "WriteCurrentRowVariable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "PerformMathOnCurrentRow",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentRow",
								"value": {
									"value": "@variables('TempCurrentRow')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PerformMathOnCurrentRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy CFACIL Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCurrentRow",
								"value": {
									"value": "@string(add(int(variables('CurrentRow')), int(variables('Limit'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailUntilLoop",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Copy CFACIL Data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "UnableToCopyData",
								"errorCode": "2"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "SetCurrentRow",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentRow",
					"value": "0"
				}
			},
			{
				"name": "SetLimit",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Limit",
					"value": "50000"
				}
			}
		],
		"variables": {
			"Bearer": {
				"type": "String"
			},
			"CurrentRow": {
				"type": "String"
			},
			"Limit": {
				"type": "String"
			},
			"TempCurrentRow": {
				"type": "String"
			}
		},
		"folder": {
			"name": "TST/Tables/POC Tables - Full Refresh"
		},
		"annotations": [],
		"lastPublishTime": "2024-06-18T10:29:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}